<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ProGirls{% endblock %}</title>

    <!-- CSS global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/comunidade.css') }}">

</head>

<body>

{% block header %}
<header class="navbar">

    <!-- LOGO -->
    <div class="logo">
        <img src="{{ url_for('static', filename='image/logo (2).png') }}" alt="Logo ProGirls">
        <span>ProGirls</span>
    </div>

    <!-- MENU DESKTOP -->
    <nav class="menu-desktop">
        <a href="/comunidade">Comunidade</a>
        <a href="/sobre">Sobre</a>
        <a href="/voluntariado">Voluntariado</a>
        <a href="/contato">Contato</a>
    </nav>

    <!-- DIREITA (mobile + CTA) -->
    <div class="nav-right">
        <button class="menu-btn mobile-only" id="btn-menu">☰</button>

        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdK0bRiUC2acGzA5vfnBzX-BmUUHLNuQciJmagKINC7meK5Gg/viewform?usp=header"
           class="cta">
            Vem com a gente!
        </a>
    </div>
</header>

<!-- MENU MOBILE OCULTO -->
<nav class="menu-mobile" id="mobile-menu">
    <a href="/">Início</a>
    <a href="/comunidade">Comunidade</a>
    <a href="/sobre">Sobre</a>
    <a href="/voluntariado">Voluntariado</a>
    <a href="/contato">Contato</a>
</nav>
{% endblock %}

<!-- CONTEÚDO -->
<main>
    {% block content %}{% endblock %}
</main>

{% block footer %}
<footer>
</footer>
{% endblock %}

<!-- JS DO MENU MOBILE -->
<script>
    const btnMenu = document.getElementById("btn-menu");
    const mobileMenu = document.getElementById("mobile-menu");

    btnMenu.addEventListener("click", () => {
        mobileMenu.classList.toggle("active");
    });
</script>

</body>
</html>
