{% extends "base.html" %}

{% block title %}ProGirls — Comunidade de Mulheres na Tecnologia{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">

    <div class="hero-content">
        <h1>
            Empoderando <span class="rosa">Mulheres</span> no<br>
            Mundo da <span class="verde">Tecnologia</span>
        </h1>

        <p class="sub">
            Construindo uma comunidade onde mulheres na tecnologia se conectam,<br>
            aprendem e crescem juntas para remodelar o futuro do setor.
        </p>

        <div class="buttons">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdK0bRiUC2acGzA5vfnBzX-BmUUHLNuQciJmagKINC7meK5Gg/viewform?usp=header" class="btn roxo">Vem com a gente!</a>
            <a href="/sobre" class="btn outline">Saiba Mais</a>
        </div>

       
    </div>
</section>

<!-- Section 2 -->
<section class="banner">
    <p>Descubra o futuro da tecnologia com a gente</p>
</section>

{% endblock %}
